<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>login</title>
<script>
	const message = '[[${message}]]';
	message && alert(message);
</script>
</head>
<body>
	<!-- 
		"/member/login" 요청을 로그인 요청으로 설정해 두었기 때문에 스프링 시큐리티 필터에서는 이 요청을 가로채게 된다. 
		userDetailsService의 용도로 AuthenticationService를 사용하겠다고 설정했으므로 loadUserByUserName 메소드가 호출 된다.
		스프링 시큐리티 필터 내에서 id, password를 다루는 이름이 "username", "password"로 설정 되어 있으므로
		해당 값을 넘길 때 name 속성이 다른 명칭으로 설정 되지 않도록 유의한다.
	 -->
	<h1 align="center">로그인 페이지</h1>
	<div align="center">
		<form action="/member/login" method="post">
			<div>
				<span>아이디 : </span>
				<input type="text" name="username">
			</div>
			<div>
				<span>비밀번호 : </span>
				<input type="password" name="password">
			</div>
			<div>
				<button>로그인</button>
			</div>
		</form>
	</div>
</body>
</html>