*{padding:0;margin:0}

a {
    text-decoration: none;  
    /* 모든 하이퍼링크 밑줄 삭제 */
}

li {
    list-style:none;
}

body {
    height: 100%;
    background-color: white;
}

.main {
    text-align: center;
    font-family: 'HSBombaram21-Regular';
    font-weight: normal;
    margin: 30px;
}

.main span {
    /* background-color: rgba(169, 197, 185, 0.7); */
    color: rgba(118, 141, 131, 0.9);
    font-size: 40px;
}

.top-holder {
    width: 100%;
    height: 60px;
    background: rgba(169, 197, 185, 0.7);
}

.menu span {
    font-size: 18px;
    font-weight: 700;
    color: rgba(118, 141, 131, 0.7);
    margin-right: 10px;
    /* color: blue; */
}

.side span {
    font-size: 12px;
    font-weight: 700;
    color: rgba(118, 141, 131, 0.7);
    margin-left: 10px;
    /* color: blue; */    
}

.inner {
    padding: 0 20%;
    display: flex;
    justify-content: space-between;
}

.btm-holder {
    width: 100%;
    /* padding: 20px; */
    /* position: fixed; */
    bottom: 0;
    /* left: 0; */
    background: rgba(169, 197, 185, 0.7);
    overflow: hidden;
}

.info {
    margin: 20px;
    font-size: 12px;
    /* padding-bottom: 10px; */
    color: rgba(118, 141, 131);
    /* float: none; */
    /* display: inline-block; */
    /* position: absolute; */
}

.copy {
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
    color: rgba(118, 141, 131);
    display: block;
}

/* 서브 메뉴 */



.title p {
    color: rgba(118, 141, 131, 0.7);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin: 30px;
}

.wrap-om {
    background: rgba(126, 113, 113, 0.1);
    border-radius: 30px;
    margin: 0 20%;
    height: 840px;
}

.type ul {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 20px 0;
    margin: 0 10%;
    border-bottom: solid 2px rgba(126, 113, 113, 0.1);
}

.type li {
    list-style-type: none;
    color: rgba(118, 141, 131, 0.6);
    font-size: 14px;
    font-weight: 700;
}

.paging {
    text-align: center;
    margin: 30px;
}

.paging button {
    border: 0;
    background-color: transparent;
    color: rgba(118, 141, 131, 0.8);
    font-size: 12px;
    font-weight: 700;
}

/* 결제 관리 페이지 */

.select {
    text-align: right;
}

.comp {
    color: rgba(126, 113, 113, 0.6);
    background-color: rgba(255, 255, 255, 0.8);
    border: 0;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 700;
    padding: 8px;
    margin: 20px;
}