.wrapper{
  width: 60vw;
  margin: 0 auto;
}

.menu-bar {
  /* width: 60%; */
  /* margin: 30px 20%; */
  display: flex;
  justify-content: space-around;
  /* justify-content: center; */
  position: relative;
  /* background-color: rgba(218, 233, 231, 0.6); */
  border: 2px solid red;
  text-align: center;
}

li {
  list-style-type: none;
}

.menu-bar > li {
  width: 20%;
  border: 2px solid blue;
  /* align-items: center; */
}


.menu-bar a {
  /* width: 20%; */
  padding: 0 10%;
  color: rgba(118, 141, 131, 0.8);
  font-size: 14px;
  font-weight: 700;
  border: 2px solid aqua;
}

#sub-menu > li {
  float: left;
  position: absolute;
  /* border: 2px solid blue; */
  /* width: 12%; */
}

.sub-menu li {
  /* border: 2px solid blue; */
  /* width: 20%; */
}

#sub-menu > li > a {
  /* display: block; */
  color: rgba(118, 141, 131, 0.8);
  color: blue;
  /* border: 2px solid red; */
  /* width: 1000px; */
}

.menu {
  width: 800px;
  overflow: hidden;
  margin: 150px auto;
}

.menu > li {
  width: 20%; /*20*5=100%*/
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: #5778ff;
}

.menu a {
  color: #fff;
}

.submenu > li {
  line-height: 50px;
  background-color: #94a9ff;
}

.submenu {
  height: 0; /*ul의 높이를 안보이게 처리*/
  overflow: hidden;
}

*{padding:0;margin:0}
li{list-style:none}
a{text-decoration:none;font-size:14px}

.menu > li:hover {
  background-color: #94a9ff;
  transition-duration: 0.5s;
}

.menu > li:hover .submenu {
  height: 250px; /*서브메뉴 li한개의 높이 50*5*/
  transition-duration: 1s;