body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;  /* 모든 하이퍼링크 밑줄 삭제 */
}

.main {
    text-align: center;
    font-family: 'HSBombaram21-Regular';
    font-weight: normal;
}

.main span {
    /* background-color: rgba(169, 197, 185, 0.7); */
    color: rgba(118, 141, 131, 0.9);
    font-size: 40px;
}

.top-holder {
    width: 100%;
    height: 60px;
    background: rgba(169, 197, 185, 0.7);
}

.menu span {
    font-size: 20px;
    font-weight: bold;
    color: rgba(118, 141, 131, 0.7);
    margin-right: 10px;
    font-family: 'TAEBAEKmilkyway';
    /* color: blue; */
}

.side span {
    font-size: 14px;
    font-weight: bold;
    color: rgba(118, 141, 131, 0.7);
    margin-left: 10px;
    font-family: 'TAEBAEKmilkyway';
    /* color: blue; */    
}

.inner {
    padding: 0px 20%;
    display: flex;
    justify-content: space-between;
}

.wrapper {
    min-height: calc(100%-160px);
    position: relative;
} 

.btm-holder {
    width: 100%;
    bottom: 0px;
    /* left: 0px; */
    background: rgba(169, 197, 185, 0.7);
    overflow: hidden;
}

.info {
    font-size: 12px;
    padding-bottom: 10px;
    color: rgba(118, 141, 131);
    /* float: none; */
    /* display: inline-block; */
    /* position: absolute; */
}

.copy {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: rgba(118, 141, 131);
    display: block;
}

.topground{
    background: rgba(169, 197, 185, 0.2);
    height: 100px;
    margin: 30px 20%;
    text-align: center;
}

.t1{
    margin-top: 40px;
    font-family: 'TAEBAEKmilkyway';
    font-weight: bold;
    font-size : 20px;
    margin-right: 500px;
    color: rgba(118, 141, 131, 0.7);
    display: inline-block;
}

.t2{
    font-family: 'TAEBAEKmilkyway';
    font-weight: bold;
    font-size : 20px;
    color: rgba(118, 141, 131, 0.7);
    display: inline-block;
}

/* background */
.bbgd{
    height: 500px;
    overflow: hidden;
    margin: 30px 20% 30px 20%;
}

.background1{
    background: rgba(126, 113, 113, 0.1);
    border-radius: 30px;
    height: 500px;
    display: flex;
}

.background2{
    background: rgba(126, 113, 113, 0.1);
    border-radius: 30px;
    height: 500px;
}

.store{
    border-radius: 100%;
    background: rgba(118, 141, 131, 0.3);
    height: 300px;
    width: 300px;
    transform: translateY(30px);
    margin-left: 30px;
}

.store img{
    height: 200px;
    width: 200px;
    transform: translateY(50px);
    margin-left: 50px;
}

.c1{
    color: rgba(71, 66, 66, 0.7);
    margin-left: 30px;
    font-size: 20px;
    font-family: 'TAEBAEKmilkyway';
    font-weight: bold;
}

.c2{
    color: rgba(118, 141, 131, 0.9);
    font-family: 'TAEBAEKmilkyway';
    font-weight: bold;
    font-size: 14px;
}

.cal{
    margin-left: 100px;
    margin-top: 80px;
}

.c3{
    margin-bottom: 30px;
    color: rgba(71, 66, 66, 0.7);
    font-size: 20px;
    font-family: 'TAEBAEKmilkyway';
    font-weight: bold;
}

.c4{
    color: rgba(118, 141, 131, 0.9);
    font-family: 'TAEBAEKmilkyway';
    font-weight: bold;
    font-size: 16px;
}

.cal img{
    width: 600px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.money img{
    width: 600px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.money{
    margin-left: 100px;
    margin-top: 80px;
}

.c5{
    margin-bottom: 20px;
    color: rgba(71, 66, 66, 0.7);
    font-size: 12px;
    font-family: 'TAEBAEKmilkyway';
    font-weight: bold;
}

.c6{
    margin-bottom: 30px;
    color: rgba(71, 66, 66, 0.7);
    font-size: 20px;
    font-family: 'TAEBAEKmilkyway';
    font-weight: bold;
    margin-right: 100px;
}

.calendar{
    display: flex;
}

.month1{
    margin-top: 30px;
}

.c7{
    margin-bottom: 80px;
    color: rgba(71, 66, 66, 0.7);
    font-size: 20px;
    font-family: 'TAEBAEKmilkyway';
    font-weight: bold;
    margin-right: 100px;
    margin-top: 30px;
}

.c8{
    margin-bottom: 80px;
    color: rgba(71, 66, 66, 0.7);
    font-size: 20px;
    font-family: 'TAEBAEKmilkyway';
    font-weight: bold;
}

#cbutton{
    background-color: rgba(71, 66, 66, 0.7);
    color: white;
    border-radius: 30px;
    margin-left: 90px;
    margin-top: 30px;
    width: 100px;
}